.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.textwrapper {
  font-size: 18px;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block {
  width: 290px;
  height: 290px;
  background: black;
  background-size: cover;
}

.blockWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
