.wrapper {
  background: url(../../assets/firstBG.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.headerText {
  padding-top: 100px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 100px;
  color: white;
  z-index: 1;
}

.textOne {
  color: white;
  padding-bottom: 15px;
  font-size: 20px;
  z-index: 1;
}

.textTwo {
  color: white;
  padding-bottom: 200px;
  z-index: 1;
  font-size: 20px;
}
